Package: com.coord-e.copybundleid
Name: CopyBundleID
Depends: mobilesubstrate, preferenceloader, firmware (>= 12.0)
Version: 0.0.4
Architecture: iphoneos-arm
Description: Copy apps' bundleID quickly!
Depiction: https://github.com/coord-e/CopyBundleID
Maintainer: coord.e <me@coord-e.com>
Author: coord.e <me@coord-e.com>
Section: Tweaks
