<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>label</key>
		<string>CopyBundleID</string>
		<key>icon</key>
		<string>CopyBundleIDPrefs.png</string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Sound effect on copy</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>enableSound</string>
			<key>defaults</key>
			<string>com.coord-e.copybundleid</string>
			<key>PostNotification</key>
			<string>com.coord-e.copybundleid/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Alert on copy</string>
			<key>default</key>
			<true/>
			<key>key</key>
			<string>enableAlert</string>
			<key>defaults</key>
			<string>com.coord-e.copybundleid</string>
			<key>PostNotification</key>
			<string>com.coord-e.copybundleid/ReloadPrefs</string>
		</dict>
	</array>
	<key>title</key>
	<string>CopyBundleID</string>
</dict>
</plist>
