{
  "title" : "CopyBundleID",
  "entry" : {
    "label" : "CopyBundleID",
    "cell" : "PSLinkCell",
    "icon" : "CopyBundleIDPrefs.png"
  },
  "items" : [
    {
      "cell" : "PSSwitchCell",
      "label" : "Enabled",
      "defaults" : "com.coord-e.copybundleid",
      "key" : "enabled",
      "default" : true,
      "PostNotification" : "com.coord-e.copybundleid\/ReloadPrefs"
    },
    {
      "label" : "Configuration",
      "cell" : "PSGroupCell"
    },
    {
      "cell" : "PSSwitchCell",
      "label" : "Sound Effect",
      "defaults" : "com.coord-e.copybundleid",
      "key" : "enableSound",
      "default" : true,
      "PostNotification" : "com.coord-e.copybundleid\/ReloadPrefs"
    },
    {
      "cell" : "PSSwitchCell",
      "label" : "Alert",
      "defaults" : "com.coord-e.copybundleid",
      "key" : "enableAlert",
      "default" : true,
      "PostNotification" : "com.coord-e.copybundleid\/ReloadPrefs"
    }
  ]
}
